<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>
        ToRead
    </title>

</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="container">
    <div class="text-left" th:if="${not #lists.isEmpty(items)}">

        <div class="lead">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Prio</th>

                </tr>
                <tr th:each="item : ${items}">
                    <td><a th:text="${item.name}" th:href="${ '/toread/edit/' + item.id}">Name</a></td>
                    <td><a th:text="${item.url}" th:href="${item.url}">Link</a></td>
                    <td th:text="${item.category}">Category</td>
                    <td th:text="${item.status}">Status</td>
                    <td th:text="${item.priority}">Prio</td>
                </tr>
            </table>
        </div>

        <div th:insert="~{fragments/footer :: footer}"></div>
    </div>
</div>

</body>
</html>